<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ramcharitmanas Quiz – 2025</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QUESTIONPAPER_QUIZ.styles.css" asp-append-version="true" />
</head>
<body>
    
    <header id="headerhtml">
        <!--<div class="dummy">Dummy</div>-->
        <a href="/">
        <div class="top_logo_cont">
            <div class="logo" style="max-width: 250px">

                <img src="/images/Jagran-logo.svg">


            </div>
           
                <div class="logo" style="padding: 0px;"><img src="/images/adani-logo.svg"></div>
            
            <div class="indi-quiz" style="padding: 10px 0px 0px 0px;"><img src="/images/indiastatquiz-logo.svg"></div>
        </div>
        </a>
        <div class="presents">प्रस्तुत करते हैं</div>
        <div class="occasion" style="margin-top: 0px;">गोस्वामी तुलसीदास जयंती</div>
        <div class="presents">31 जुलाई 2025 के अवसर पर</div>




    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="quiz-cont" >
        <div class="wrapper" id="footerhtml">


            <div class="bottom-stripe" style="text-align:center"><a href="http://www.indiastatinitiatives.com/" target="_blank">&copy; Datanet India</a></div>
            <!-- logo-cont start -->
           @*  <div class="partner-cont">


                <!-- 2 box start -->
                <div class="bott-logo-cont">
                    <div class="bott-logo-title">Quiz Partner</div>
                    <div class="part-img"><a href="https://www.indiastatquiz.com/" target="_blank"><img src="~/images/indiastatquiz-logo.svg"></a></div>
                </div>
                <!-- 2 box end -->
                <!-- 2 box start -->
                <div class="bott-logo-cont">
                    <div class="bott-logo-title">Hospitality Partner</div>
                    <div class="part-img-squr"><a href="#" target="_blank"><img src="~/images/sponsors-logo/dummy-10.png"></a></div>
                </div>
                <!-- 2 box end -->
                <!-- 3 box start -->
                <div class="bott-logo-cont">
                    <div class="bott-logo-title">Travel Partner</div>
                    <div class="part-img-squr"><a href="#" target="_blank"><img src="~/images/sponsors-logo/dummy-2.png"></a></div>
                </div>
                <!-- 3 box end -->
                <!-- 3 box start -->
                <div class="bott-logo-cont">
                    <div class="bott-logo-title">Award Partner</div>
                    <div class="part-img-squr"><a href="#" target="_blank"><img src="~/images/sponsors-logo/dummy-3.png"></a></div>
                </div>
                <!-- 3 box end -->
                <!-- 3 box start -->
                <div class="bott-logo-cont">
                    <div class="bott-logo-title">Cuisine Partner</div>
                    <div class="part-img-squr"><a href="#" target="_blank"><img src="~/images/sponsors-logo/dummy-4.png"></a></div>
                </div>
                <!-- 3 box end -->
                <!-- 4 box start -->
                <div class="bott-logo-cont">
                    <div class="bott-logo-title">Event Partner</div>
                    <div class="part-img-squr"><a href="#" target="_blank"><img src="~/images/sponsors-logo/dummy-6.png"></a></div>
                </div>
                <!-- 4 box end -->

            </div> *@

            @* @Html.Raw(ViewBag.Footer) *@

            <!-- logo-cont end -->


        </div>
    </div>
  @*   <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script> *@
</body>
</html>
